<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.1.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.1.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.1.xsd ">

	<!-- 定义Mybatis的Session工厂,typeAliasesPackage为entity包全名,多个用逗号或者分号隔开 -->  
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath:com/lover/cost/mapper/*.xml" />  
		<property name="configLocation" value="classpath:/mybatis-config.xml" /> 
	</bean>
	<!-- 注册Mapper方式二：也可不指定特定mapper，而使用自动扫描包的方式来注册各种Mapper -->
	<!-- 定义所要扫描的Mapper配置文件包路径，多个包用逗号或者分号隔开 -->
	<!-- 定义 myBatis的sqlSessionFactory    
    1、当使用MapperScannerConfigurer时不需要configLocation定义(   
        1：mapperLocations可以批量载入mapper，但是MapperScannerConfigurer扫描mapper后不会将已存在的mapper加入到Configuration中   
        2：也可以定义configLocation文件，在里面设置settings和typeAliases等来覆写默认的配置   
        3：如果使用了configLocation文件，并且里面也定义了mappers，那么在MapperScannerConfigurer扫描动作中就不会加入已经存在的mapper了   
            （同mapperLocations情况一样）   
        4：综上所述：建议采用扫描来完成mapper的注册，并且在sqlSessionFactory的bean配置中不需要设置mapperLocations，   
            如果设置了configLocation文件，那么configLocation文件里也不需要再设置mapper了   
    --> 
 	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> 
 		<property name="basePackage" value="com.lover.cost.mapper" /> 
 	</bean> 

</beans>
