<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- Copyright 2010 The myBatis Team Licensed under the Apache License, Version 
	2.0 (the "License"); you may not use this file except in compliance with 
	the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->    <!-- version: $Id$ -->
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="autoMappingBehavior" value="FULL" />
		<setting name="logImpl" value="LOG4J2" /><!-- 我靠神了，加上这句话，就输出了sql语句 -->
	</settings>

	<!-- 别名配置 -->
	<typeAliases>
		<!-- <typeAlias type="com.lover.cost.domain.User" alias="User"/> -->
		<!-- 批量别名定义，指定扫描包路径，自动将包下边的pojo定义别名， 别名为类名（第一个字母小写和大写都可以） -->
		<package name="com.lover.cost.domain" />
	</typeAliases>

	<!-- 因为mapper文件和绑定的接口处于同一目录下，所以整合时不需要显示配置mappers <mappers> <mapper resource="com/itcast/dao/AccountDAO.xml" 
		/> <mapper resource="com/itcast/dao/LayoutDAO.xml"/> </mappers> -->
</configuration>